body{
  margins: 0px;
}
.header {
  display:flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  margin: 10px 30px;
}
.logo h3{
  margin-left: 10px;
}
nav {
  display: flex;
  display: block;
  margin-right: 40px;
}
nav span {
  display: inline-flex;
  padding: 20px;
  text-decoration:underline;
}
.container  {
  display: flex;
  justify-content: space-between;
}
.column.large {
  display: flex;
  max-width: 630px;
  margin: 30px 15px 30px 0px;
  justify-content:center;
  flex-wrap: wrap;
  flex-direction: column;
}
.column.medium {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  margin: 30px 15px;
}
.column.small {
  display: flex;
  max-width: 240px;
  flex-direction: column;
  margin: 30px 30px 30px 15px;
}
.news,
.story{
  display: block;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.underimage{
  display:block;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
  justify-content:center;
  display: flex;
  flex-direction: column;
}
.clusterone,
.clustertwo{
  display: block;
  width: 300px;
  text-align: left;
  align-items: center;
  justify-content:center;
  margin-top: 0;
  margin-bottom: 0;
}
.underimage.mother{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  vertical-align:middle;
}
.underimage.earth{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}
.underimage.cameras{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}
.underimage.cats{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}
.story.main{
  font-size: 40px;
}
.newsstories{
  display: flex;
}
